<%- include('../../partials/_head') %>

    <body class="">
        <%- include('../../partials/_navbar') %>
            <div class="header bg-gradient-primary pb-6 pt-5 pt-md-8"></div>
            <div class="container-fluid mt--7">
                <div class="row"></div>
                <div class="row mt-2">
                    <div class="col"></div>
                </div>
                <div class="card bg-secondary shadow px-5">
                    <div style="margin: 5vh 0 3vh 0 ;">
                        <h2>Form Edit Karyawan</h2>
                    </div>

                    <form id="edit-form" role="form" method="post" action="/karyawan/update/<%= data.id %>">

                        <div class="form-group">
                            <label for="example-text-input" class="form-control-label">ID Karyawan</label>
                            <input class="form-control" type="text" id="example-text-input" name="id_karyawan"
                                value="<%= data.id_karyawan %>" required>
                        </div>

                        <div class="form-group">
                            <label for="example-text-nama" class="form-control-label">Nama Karyawan</label>
                            <input class="form-control" type="text" id="example-text-nama" name="nama_karyawan"
                                value="<%= data.nama_karyawan %>" required>
                        </div>

                        <div class="form-group">
                            <label for="example-text-divisi" class="form-control-label">Divisi</label>
                            <select class="form-control" id="example-text-divisi" name="id_divisi" required>
                                <option value="" disabled>Select Option</option>
                                <% if(rows && rows.length> 0) { %>
                                    <% for(let i=0; i < rows.length; i++) { %>
                                        <option value="<%= rows[i].id_divisi %>" <%=(rows[i].id_divisi==data.id_divisi)
                                            ? 'selected' : '' %>>
                                            <%= rows[i].nama_divisi %>
                                        </option>
                                        <% } %>
                                            <% } %>
                            </select>
                        </div>

                        <div class="py-4 text-right">
                            <button type="submit" class="btn btn-primary">
                                Update Data Karyawan
                            </button>
                        </div>

                    </form>
                </div>
            </div>

            <%- include('../../partials/_foot') %>